<div class="board align-items-center justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="/img/squareIsland.gif" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">New Simulation</h5>
      <p class="card-text">To execute a simulation</p>
      <form action="/simulations/new-simulation" method="POST">

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Play simulation
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      src="/img/ZeroPlayers-load-animation.gif"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Saved Simulations</h5>
      <p class="card-text">To execute a saved simulation</p>
      <a href="#" class="btn btn-primary">Load simulation</a>
    </div>
  </div>
</div>